.container{
    padding: 50px;
    margin: 100px;
    border: black 2px solid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(185, 185, 190);
    font-size: 1.3em;
    width: 40%;
}

input{
    padding: 5px;
    border-radius: 5px;
}

#submit{
    border-radius: 5px;
}
